---
import fetchApi from "../../lib/strapi";
import PrevNext from "../../components/PrevNext.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const artists = await fetchApi({
        endpoint: "artists",
        wrappedByKey: "data",
    });

    const paths = artists.map((artist, i) => ({
        params: { slug: artist.slug },
        props: {
            artist,
            prev: i > 0 ? artists[i - 1] : null,
            next: i < artists.length - 1 ? artists[i + 1] : null,
        },
    }));

    return paths;
}

const { artist, prev, next } = Astro.props;
---

<style>
    h2 {
        font-size: 2rem;
        margin-block-end: 1rem;
    }

    .sticker_container {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .categories {
        font-size: 1.5rem;
    }
</style>

<BaseLayout>
    <div class="sticker_container">
        <h2>{artist.name}</h2>
    </div>
    <PrevNext prev={prev} next={next} path="artists" />
</BaseLayout>
