---
import fetchApi from "../../lib/strapi";
import PrevNext from "../../components/PrevNext.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const stickers = await fetchApi({
        endpoint: "stickers",
        wrappedByKey: "data",
        query: { populate: ["categories"] },
    });

    const paths = stickers.map((sticker, i) => ({
        params: { slug: sticker.slug },
        props: {
            sticker,
            prev: i > 0 ? stickers[i - 1] : null,
            next: i < stickers.length - 1 ? stickers[i + 1] : null,
        },
    }));

    return paths;
}

const { sticker, prev, next } = Astro.props;
---

<style>
    h2 {
        font-size: 2rem;
        margin-block-end: 1rem;
    }

    .sticker_container {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .categories {
        font-size: 1.5rem;
    }
</style>

<BaseLayout>
    <div class="sticker_container">
        <div>
            <h2>{sticker.name}</h2>
            <p>
                {
                    sticker.description
                        .map((paragraph) =>
                            paragraph.children
                                .map((child) => child.text)
                                .join(" "),
                        )
                        .join("")
                }
            </p>
            <p class="categories">
                {
                    sticker.categories
                        ?.map((category) => category.name)
                        .join(", ") || "None"
                }
            </p>
        </div>
        <img>
    </div>
    <PrevNext prev={prev} next={next} path="stickers" />
</BaseLayout>
