---
import fetchApi from "../../lib/strapi";
import PrevNext from "../../components/PrevNext.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const categories = await fetchApi({
        endpoint: "categories",
        wrappedByKey: "data",
    });

    const paths = categories.map((category, i) => ({
        params: { slug: category.slug },
        props: {
            category,
            prev: i > 0 ? categories[i - 1] : null,
            next: i < categories.length - 1 ? categories[i + 1] : null,
        },
    }));

    return paths;
}

const { category, prev, next } = Astro.props;
---

<style>
    h2 {
        font-size: 2rem;
        margin-block-end: 1rem;
    }
</style>
<BaseLayout>
    <div>
        <div class="container_detail">
            <h2>{category.name}</h2>
            <img />
        </div>
        <PrevNext prev={prev} next={next} path="categories" />
    </div>
</BaseLayout>
