---
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
    const categories = await fetchApi({
        endpoint: "categories",
        wrappedByKey: "data",
    });

    const paths = categories.map((category) => ({
        params: { slug: category.slug },
        props: {
            category,
        },
    }));

    return paths;
}

const { category } = Astro.props;
---

<h2>{category.name}</h2>
