---
const { artists, showCategory } = Astro.props;
import { Image, Picture } from "astro:assets";
import ArtistCard from "./ArtistCard.astro";
---

<style>
    .artist_list {
        display: grid;
        font-size: 2rem;
    }

    .artist_boxes {
        padding: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .artist_categories {
        display: flex;
        flex-direction: row;
    }

    .artist_categories > li {
        padding-inline-start: 1rem;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .categories,
    .artist_boxes:nth-child(even) {
        background-color: rgb(218, 167, 59);
        color: rgb(244, 227, 207);
        border: 0.1rem solid rgb(244, 227, 207);
    }

    .categories > span {
        margin-inline-end: 1rem;
    }

    .artist_boxes__left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }



    .categories {
        margin-block-start: 0rem;
    }
</style>

<ul class="artist_list">
    {
        artists.map((artist) => (
            <li
                class="artist_boxes"
                data-category={artist.categories?.map((c) => c.slug).join(" ")}
            >
                <a class="artist_boxes__left" href={`/artists/${artist.slug}`}>
                    <ArtistCard
                        artist={artist}
                        showCategory={showCategory}
                    />
                </a>

                {artist.categories && (
                    <ul class="artist_categories">
                        {artist.categories.map((category) => (
                            <li>
                                <a href={`/categories/${category.slug}`}>
                                    <p class="categories">
                                        {category.slug || "None"}
                                    </p>
                                </a>
                            </li>
                        ))}
                    </ul>
                )}
            </li>
        ))
    }
</ul>
