---
const { categories } = Astro.props;
import { Image, Picture } from "astro:assets";
---

<ul class="artist_list">
    {
        categories.map((category) => (
            <li data-category={category.slug}>
                <p>{category.name}</p>
                <div class="artist_list__stickers">
                    {category.stickers.map((sticker) => (
                        <a href={`/stickers/${sticker.slug}`}>
                            <p class="stickers__name">{sticker.name}</p>
                        </a>
                    ))}
                </div>
            </li>
        ))
    }
</ul>

<style>
    .artist_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 45.8rem));
        font-size: 2rem;
    }

    .artist_list > li:nth-child(2),
    .artist_list > li:nth-child(3),
    .artist_list > li:nth-child(6),
    .artist_list > li:nth-child(7),
    .artist_list > li:nth-child(10),
    .artist_list > li:nth-child(11) {
        background-color: rgb(218, 167, 59);
        color: rgb(244, 227, 207);
    }

    li {
        padding: 2rem;
        text-align: center;
    }

    .stickers__name {
        background-color: rgb(218, 168, 59);
        color: #f4e3cf;
        font-size: 1rem;
        width: fit-content;
        padding: 1rem;
        border-radius: 2rem;
        margin-block-start: 2rem;
        border: 0.1rem solid rgb(244, 227, 207);
    }

    .artist_list__stickers {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }
</style>
