---
const { categories } = Astro.props;
---

<script>
    const handleOptionChange = () => {
        const selection = [
            ...document.querySelectorAll(".filteroption:checked"),
        ].map(($input) => $input.value);

        document.querySelectorAll("[data-category]").forEach(($li) => {
            // Get the list of categories for this sticker
            const stickerCategories = $li.dataset.category.split(" ");

            // Check if at least one selected category matches
            const matches = selection.some((category) =>
                stickerCategories.includes(category),
            );

            if (selection.length === 0 || matches) {
                $li.classList.remove("hidden");
            } else {
                $li.classList.add("hidden");
            }
        });
    };

    document.addEventListener("astro:page-load", () => {
        const options = document.querySelectorAll(".filteroption");
        options.forEach((option) =>
            option.addEventListener("change", handleOptionChange),
        );
    });
</script>

<ul>
    {
        categories.map((category) => (
            <li>
                <label>
                    <span>{category.name}</span>
                    <input
                        class="filteroption"
                        type="checkbox"
                        value={category.slug}
                        name="filter"
                    />
                </label>
            </li>
        ))
    }
</ul>
