---
const { prev, next, path } = Astro.props;
---

<style>

  ul {
    display: flex;
    justify-content: space-between;
  }

  .right {
    margin-left: auto;
  }
</style>

<nav>
  <ul>
    {
      prev && (
        <li>
          <a href={`/${path}/${prev.slug}`}>Previous</a>
        </li>
      )
    }
    {
      next && (
        <li class="right">
          <a href={`/${path}/${next.slug}`}>Next</a>
        </li>
      )
    }
  </ul>
</nav>
