---
const { prev, next, path } = Astro.props;
---

<nav>
  <ul>
    {
      prev && (
        <li>
          <a href={`/${path}/${prev.slug}`}>Previous</a>
        </li>
      )
    }
    {
      next && (
        <li class="next">
          <a href={`/${path}/${next.slug}`}>Next</a>
        </li>
      )
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 2rem;
    background-color: rgb(218, 167, 59);
    padding: 1rem;
    border-radius: 2rem;
    color: rgb(244, 227, 207);
  }

  .next {
    margin-left: auto;
  }
</style>
