---
const { sticker, firstPhrase, categories, showCategory = true } = Astro.props;
---

<div>
    <article>
        <strong>{sticker.name}</strong>
        <br />
        {firstPhrase}
        <br />
        <span class="categories">
            Categories: {categories || "None"}
        </span>
    </article>
</div>
