---
const { sticker, firstPhrase } = Astro.props;
import { Image, Picture } from "astro:assets";
---

<style>
    .first_phrase {
        font-size: 1.5rem;
        padding-block-start: 1rem;
    }

    .artist {
        font-size: 2rem;
        padding-block-start: 1rem;
    }
</style>

<div>
    <article>
        <h2><strong>{sticker.name}</strong></h2>
        <p class="first_phrase">{firstPhrase}</p>
        <a><p class="artist">by {sticker.artist.name}</p></a>
    </article>
</div>
