---
import StickerCard from "./StickerCard.astro";
const { stickers} = Astro.props;
---

<ul class="sticker_list">
    {
        stickers.map((sticker) => {
            const firstPhrase =
                sticker.description[0]?.children[0]?.text.split(".")[0] + ".";

            return (
                <li
                    class="sticker_list__li"
                    data-category={sticker.categories
                        ?.map((c) => c.slug)
                        .join(" ")}
                >
                    <a href={`/stickers/${sticker.slug}`}>
                        <StickerCard
                            sticker={sticker}
                            firstPhrase={firstPhrase}
                        />
                    </a>
                    {sticker.categories && (
                        <ul>
                            {sticker.categories.map((category) => (
                                <li>
                                    <a href={`/categories`}>
                                        <p class="categories">
                                            {category.slug || "None"}
                                        </p>
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )}
                </li>
            );
        })
    }
</ul>

<style>
    .sticker_list {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        color: rgb(218, 167, 59);
        align-items: center;
        justify-items: center;
        grid-template-rows: repeat(6, 1fr);
    }

    .categories,
    .sticker_list > li:nth-child(even) {
        background-color: rgb(218, 167, 59);
        color: rgb(244, 227, 207);
        border: 0.1rem solid rgb(244, 227, 207);
    }

    .sticker_list__li {
        font-size: 4rem;
        inline-size: 100%;
        block-size: 100%;
        padding: 2rem;
        border: 0.1rem solid rgb(218, 167, 59);
    }

    ul > li:first-child {
        grid-column: 1;
        grid-row: 1/3;
    }
    ul > li:nth-child(13),
    ul > li:nth-child(6) {
        grid-column: 1/4;
    }

    ul > li:nth-child(9) {
        grid-row: 4/6;
        grid-column: 2/4;
    }

    ul > li:nth-child(14) {
        grid-row: 8/10;
    }

</style>
