---
const { sticker, firstPhrase, categories, showCategory = true } = Astro.props;
---

<style>
    .first_phrase {
        font-size: 1.5rem;
        padding-block-start: 1rem;
    }


</style>

<div>
    <article>
        <h2><strong>{sticker.name}</strong></h2>
        <p class="first_phrase">{firstPhrase}</p>
    </article>
</div>
