html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



body {
  background-color: rgb(244, 227, 207);
  color: rgb(218, 167, 59);
}


a {
  text-decoration: none;
  color: inherit;
}


 .categories {
   background-color: rgba(218, 168, 59, 0.475);
   color: rgb(218, 153, 79);
   font-size: 1.5rem;
   width: fit-content;
   padding: 1rem;
   border-radius: 2rem;
   margin-block-start: 2rem;
 }


 .hidden {
   display: none;
 }


